%li
  - images=Image.where("item_id=?",item.id).limit(1)
  =link_to before_edit_item_path(item.id),class:"mypage-item-link-edit" do
    .tab-content-edit
      -images.each do |image|
        =image_tag image.image.url,class: "mypage-edit-image" 
      .mypage-edit-item-body
        .mypage-edit-item-text
          =item.name
        %div
          %span.listing-item-count
            %i.far.fa-heart
            %span 0
          %span.listing-item-count
            %i.far.fa-comment-alt
            %span 0
          %span.mypage-item-status
            出品中
      %i.fas.fa-chevron-right.mypage-edit-list-icon