<h2>電話番号の確認</h2>
<%= form_for @user do |f| %>
  <div class ="field">
    <%= f.label :携帯電話の番号 %><br />
    <%= f.text_field :tel %>
  </div>
  <h3>本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。</h3>

  <div class="actions">
    <%= f.submit "SMSで送信する" %>
  </div>
  <h3>※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。</h3>
<% end %>


