.item-box-container-edit{
  float: left;
  background-color: white;
  margin-left:380px;
  width: 700px;
  margin-bottom: 80px;

}

.item-description-edit{
  float: left;
  font-size: 18px;
  padding:20px 0 50px 10px;
  margin: 50px 0 0 20px; 
}

.item-edit-second{
  padding: 20px 0 0 40px;
  margin:60px 0 0 380px;
  width: 700px;
  height: 260px;
  background-color: white;
}
.item-edit-bottun{
  display: block;
  height: 50px;
  width: 95%;
  background-color: red;
  text-align: center;
  line-height: 50px;
  color: white;
}
.item-edit-bottun-link{
  
  text-decoration: none;
 
}
.item-edit-bottun-or{
  font-size: 13px;
  line-height: 50px;
  text-align: center;
  width: 95%;
  height: 50px;
}
.item-edit-bottun-sub{
  display: block;
  height: 50px;
  width: 95%;
  background-color: rgb(153, 153, 153);
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
  color: white;
  
}
.item-box-edit{
    background-color: white;
    margin-left:380px;
    width: 700px;
    padding-bottom: 30px;
    height: 800px;
}