* {
  box-sizing: border-box;
}
.buy_logo{
  margin: 30px 0 0 400px;
  height:49px;
  width: 185px;
}

.banner {
  width: 100%;
  height: 390px;
  overflow:hidden;

  &-image {
    max-width:100%;
  }
}
