.shared_wrapper
  .single-container
    %header.single-header
      %h1
        = link_to root_path do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4069491723",class:"buy_logo"
          
    %main.single-main
      %section.l-single-container.buy-item-container
        %h2.l-single-head 購入内容の確認
        %section.buy-content.buy-item
          .buy-content-inner
            %h3.buy-item-image
            - images=Image.where("item_id=?",@item.id).limit(1)
            -images.each do |image|
              = image_tag image.image.url, class: "buy_image"
            %p.buy-item-name.bold 
              =@item.name
            %form.buy-form{action: pay_item_path(params[:id]), :method => "POST"}
              %p.buy-price-ja.bold
                ¥
                =@item.price
                %span.item-shipping-fee.f14.bold 
                  =@item.postage
              %ul.buy-accordion.not-have
                %li.accordion-parent
                  .accordion-toggle
                    ポイントはありません
              %ul.buy-price-table
                %li.buy-price-row.buy-you-pay.bold
                  .buy-price-cell 支払い金額
                  .buy-price-cell-2
                    ¥
                    =@item.price
              %a{href:pay_item_path(params[:id])}
                %button.buy-btn-default.btn-red.bold{type: "submit"} 購入する
                %form{:action => "/pay", :method => "post"}
                  %script.payjp-button{"data-key" => "", :src => "https://api.pay.jp/v1/charges"}
                  %input{type:"hidden",value:"#{@creditcard.customer_id}",name:"customer_id"}
              %input#user_info_is_not_complete{type: "hidden"}/
        %section.buy-content1.buy-item
          .buy-content-inner1
            %h3 配送先
            %address.buy-user-info-text
              〒
              =current_user.address.post_id
              %br/
              =current_user.address.prefecture
              =current_user.address.city
              39-1
              %br/
              =current_user.address.first_name
              =current_user.address.last_name
            %p.buy-user-info-text
            =link_to info_user_path(current_user.id) do
              .buy-change
                %span 変更する
                %i.fas.fa-chevron-right.buy-right-icon
        %section.buy-content2.buy-item
          .buy-content-inner2
            %h3 支払い方法
            %p.buy-user-info-text
              %br/
              \/
            %figure
              %img{alt: "", height: "", src: "", width: ""}/
            %p
            =link_to root_path do
              .buy-change
                %span 変更する
                %i.fas.fa-chevron-right.buy-right-icon
    %footer.single-footer
      %ul.buy_list_wrapper
        %li
          %a{href: "https://www.mercari.com/jp/privacy/",class:"buy_inf_list"} プライバシーポリシー
        %li
          %a{href: "https://www.mercari.com/jp/tos/",class:"buy_inf_list"} メルカリ利用規約
        %li
          %a{href: "https://www.mercari.com/jp/tokutei/",class:"buy_inf_list"} 特定商取引に関する表記
      .footer-logo-wrapper
        %a.single-footer-logo{href: "https://www.mercari.com/jp/"}
        %img{alt: "mercari", height: "65", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?4069491723", width: "80"}/
      .footer-small
        %small © 2019 Mercari
  