header {
  height: 90px;
  width: 1020px;
  margin: 0 auto;
  padding: 8px 0 0;
  
  .logo-and-search {
    height: 40px;
    margin: 0;
    padding: 0;
    
    &__logo {
      width: 134px;
      height: 36px;
      float: left;

      a {
        width: 134px;
        height: 36px;
        cursor: pointer;        
        
        img {
          width: 134px;
          height: 36px;
        }
      }
    }

    &__search {
      position: relative;
      width: calc(100% - (134px + 40px));
      float: right;

      input {
        width: 100%;
        height: 40px;
        padding: 0 42px 0 10px;
        background: #fafafa;
        border-radius: 4px;
        border: 1px solid #ccc;
      }

      i {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        line-height: 40px;
        cursor: pointer;
        text-align: center;
      }
    }
  }

  .lists {
    margin: 8px 0 0 ;
    height: 44px;

    &__left {
      float: left;
      
      ul {
        
        .categories {
          position: relative;
          display: inline-block;
          
          h2 {
            font-size: 14px;
            font-weight: 600;
            
            a {
              display: block;
              color: #333;
              text-decoration: none;
            }
          }
        }

        .brands {
          position: relative;
          display: inline-block;
          padding: 0 0 0 16px;
          
          h2 {
            font-size: 14px;
            font-weight: 600;
            
            a {
              display: block;
              color: #333;
              text-decoration: none;
            }
          }
        }  
      }
    }

    .signin-and-signup {
      ul {
        position: relative;
        float: right;
        
        .signup-btn {
          float: left;
          margin: 0;

          .signup-btn__text{
            display: block;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            font-size: 14px;
            text-decoration: none;
            padding: 0 18px;
            border-radius: 4px;
            text-align: center;
            line-height: 30px;
          }
        }

        .signin-btn {
          float: right;
          display: inline-block;
          margin: 0 0 0 11px;
          border-radius: 4px;
          
          .signin-btn__text{
            display: block;
            border: 1px solid #0099e8;
            background: #fff;
            color: #0099e8;
            font-size: 14px;
            text-decoration: none;
            padding: 0 16px;
            border-radius: 4px;
            text-align: center;
            line-height: 30px;
          }
        }
      }
    }
  }
}
