header {
  height: 90px;
  width: 1020px;
  margin: 0 auto 10px;
  padding: 8px 0 0;
  
  .logo-and-search {
    height: 40px;
    margin: 0;
    padding: 0;
    
    &__logo {
      width: 134px;
      height: 36px;
      float: left;

      &-image {
        width: 134px;
        height: 36px;
        cursor: pointer;        
      }
    }
    &__search {
      position: relative;
      width: calc(100% - (134px + 40px));
      float: right;

      input {
        width: 100%;
        height: 40px;
        padding: 0 42px 0 10px;
        background: #fafafa;
        border-radius: 4px;
        border: 1px solid #ccc;
      }

      .header__search-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        line-height: 40px;
        cursor: pointer;
        text-align: center;
      }
    }
  }
  

  .lists {
    margin: 8px 0 0 ;
    height: 44px;

    &__left {
      float: left;
      
      .lists__left-list {
        padding-top: 5px;
        
        .categories {
          position: relative;
          display: inline-block;

          // display: table;
          // h2 {
          //   font-size: 14px;
          //   font-weight: 600;
          // }
          //   .categories-btn {
          //     display: block;
          //     color: #333;
          //     text-decoration: none;
          //     font-size: 14px;
          //     font-weight: 600; 
          //   } 
          
          .categories-link {
            font-size: 14px;
            font-weight: 600;
            width: 150px;
            text-decoration: none;
            display: inline-block;
            &__list-icon {
              color: #ea352d;
              font-size: 16px;
              margin: 2px 10px 2px 0;
              float: left;
            }
            &-btn  {
              color: #333;
            }
          }
        }

        .brands {
          position: relative;
          display: inline-block;
          padding: 0 0 0 16px;
          // .tag-icon{
          //   color:red;
          //   background:#fff;
          // }
          
          .brands-link {
            width: 150px;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            display: inline-block;
            
            // .brands-btn {
            //   display: block;
            //   text-decoration: none;
            //   display: inline-block;
            &__tag-icon {
              color: #ea352d;
              font-size: 16px;
              margin: 2px 10px 2px 0;
              float: left;
            }
            &-btn {

              color: #333;
            }
            .brands-values{
              border: 1px solid rgba(87, 85, 85, 0.205);
            }
          }
        }
      }
    }


    .signin-and-signup {
      .account {
        position: relative;
        float: right;
        .like-btn {
          float: left;
          width: 150px;
          
          &__header-like-icon {
            float: left;
            font-size: 20px;
            color: #a9a9a9;
            margin-top: 5px;
          }
          &__text {
            float: left;
            display: block;
            font-size: 14px;
            text-decoration: none;
            padding: 0 10px;
            text-align: center;
            line-height: 30px;
            color: #333;
          }
        }

        .news-btn {
          float: left;
          position: relative;
          width: 120px;
          &__icon {
            float: left;
            font-size: 20px;
            color: #a9a9a9;
            margin-top: 5px;
          }

          &__text {
            display: block;
            float: left;
            font-size: 14px;
            text-decoration: none;
            padding: 0 10px;
            text-align: center;
            line-height: 30px;
            color: #333;
          }

          &__count {
            position: absolute;
            top: -2px;
            left: 6px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #ea352d;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color: #fff;
          }
        }

        .todo-list__btn {
          display: inline-block;
          width: 150px;
          float: left;

          &-icon {
            float: left;
            font-size: 20px;
            color: #a9a9a9;
            margin-top: 5px;
          }

          &-text {
            float: left;
            display: block;
            font-size: 14px;
            text-decoration: none;
            padding: 0 10px;
            text-align: center;
            line-height: 30px;
            color: #333;
          }
        }

        .mypage-btn {
          float: left;
          display: inline-block;
          width: 120px;
          
          &__icon {
            float: left;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin-left: 10px;
          }

          &__text {
            float: right;
            display: block;
            font-size: 14px;
            text-decoration: none;
            padding-left: 10px;
            line-height: 30px;
            color: #333;
          }
        }
      }
    }
    
    .signin-and-signup {
      .account {
        position: relative;
        float: right;
        padding-top: 4px; 
        .signup-btn {
          float: left;
          margin: 0;

          &__text{
            display: block;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            font-size: 14px;
            text-decoration: none;
            padding: 0 18px;
            border-radius: 4px;
            text-align: center;
            line-height: 30px;
          }
        }

        .signin-btn {
          float: right;
          display: inline-block;
          margin: 0 0 0 20px;
          border-radius: 4px;
          
          &__text{
            display: block;
            border: 1px solid #0099e8;
            background: #fff;
            color: #0099e8;
            font-size: 14px;
            text-decoration: none;
            padding: 0 16px;
            border-radius: 4px;
            text-align: center;
            line-height: 30px;
          }
        }
      }
    }
  }
}

.category-first{
  border: 1px solid rgba(87, 85, 85, 0.205);
  // display: table;
  // table-layout:fixed;
  display: none;
}
.category-second{
  border: 1px solid rgba(87, 85, 85, 0.205);
  // display: table-cell;
  // table-layout:fixed;

}
.category-third{
  border: 1px solid rgba(87, 85, 85, 0.205);
  // display: table-cell; 
  // table-layout:fixed;
  // display:none;

}

.brands-values{
  display:none;
}
