.l-chapter-head-edit{
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 23px;
}
.setting-profile-icon{
  height: 170px;
  background-color: rgb(158, 249, 255);
}
.user-edit-icon-wrapper{
  margin: 70px 0 0 220px;
  float: left;
}
.user-edit-icon{
  border-radius: 50px;
}
.input-default-edit{
  padding-left: 10px;
  border: solid 1px rgb(206, 206, 206);
  border-radius: 5px;
  height: 50px;
  width: 220px;
}
.edit-input{
  margin: 0 0 0px 300px;
  padding-top: 75px;
}
.setting-profile-content{
  background-color: white;
  padding: 20px;
  padding-top:40px;
  padding-bottom: 40px;
}
.textarea-default-edit{
  height: 220px;
  width: 660px;
}
.btn-default-edit{
  color: white;
  font-size: 14px;
  background-color: red;
  margin-top:15px;
  height: 50px;
  width: 660px;
}