.mypage{
  &-tab-container-edit{
  width: 700px;
  float: right;
  margin: 50px 200px 0 0;
  }
  &-tab-head-edit{
  height: 80px;
  background-color: #fafafa;
  line-height: 80px;
  font-size: 17px;
  padding-left: 15px;
  }
  &-edit{
    float: left;
    width: 33%;
    height: 60px;
    background-color: rgb(228, 228, 228);
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    font-size: 17px;
    color: black;
    &-left{
      float: left;
      width: 34%;
      height: 60px;
      background-color: rgb(255, 255, 255);
      border-top:red solid 2px;
      text-decoration: none;
      text-align: center;
      line-height: 60px;
      font-size: 17px;
      color: black;
    }
    &-image{
      margin:10px 0 0 20px;
      float: left;
      height: 50px;
      width: 50px;
    }
  }
}
.item-edit-description{
  clear: both;
  margin-left: 30px;
}
.tab-content-edit{
  clear: both;
  display: block;
  height: 80px;
  background-color: white;
}
.mypage-edit-item-body{
  float: left;
  margin: 10px 0 0 10px;
}
.mypage-edit-item-text{
  color: black;
  font-size: 13px;
}
.mypage-edit-list-icon{
  float: right;
  color: rgb(70, 70, 70);
  margin: 40px 20px 0 0; 
}
.listing-item-count{
  color: rgb(184, 184, 184);
  font-size: 13px;
}
.mypage-item-status{
  background-color: #0099e8;
  margin: 8px 0 0 0;
  padding: 5px 6px;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
}
.mypage-history{
  padding-top: 50px;
  height:60px;
}
.mypage-prev{
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(224, 224, 224);
  border-radius: 5px;
  width: 50px;
  height:50px;
  float: left;
  color: rgb(70, 70, 70);
  text-align: center;
  line-height: 50px;
}
.mypage-next{
  border: solid 1px rgb(224, 224, 224);
  border-radius: 5px;
  background-color: white;
  width: 50px;
  height:50px;
  float: right;
  text-align: center;
  line-height: 50px;
}
.mypage-edit-icon{
  color: rgb(70, 70, 70);
}
.delete-complete{
  &-log{
  height: 60px;
  width: 100%;
  background-color: #dff0d8;
  color: #468847;
  opacity: 0;
  }
  &-text{
    float: right;
    line-height: 60px;
  }
}
div.delete-sample {
  animation: anime3 5s ;
}
@keyframes anime3 {
  from {
    opacity: 0.6;
  }
  5%{
    opacity: 1.0;
  }
  80%{
    opacity: 1.0;
  }
  to {
    opacity: 0;
  }
}
