.all-contents{
  background-color: rgba(110, 101, 101, 0.137);
  height:100%;
  width:100%;
  .logo-and-search{
   
    img{
      width: 210px;
      height: 100px;
      margin-left:450px;
      
    }
  }
  .sub-contents{
    padding-top:25px;
    padding-bottom:100px;
    background-color: #fff;
    margin:auto  250px 300px;
    h2{
      font-size: 22px;
      text-align: center;
      margin-bottom: 30px;
      font-weight: bold;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    }
    .lists{
      margin-top:80px;
      .lists_top{
        display: flex;
        background: #eee;
        width:300px;
        height:60px;
        margin-left:160px;
        cursor: pointer;
        

        .mail-icon{
          font-size:40px;
          padding-left:20px;
          padding-top:10px;
          color:rgba(187, 182, 182, 0.726);
        }
      .link-email{
        margin-top:20px;
        margin-left: 20px;
        .top-btn{
          text-decoration: none;
          color: #000;          
        }
      }
      }
      .lists_center{
        width:300px;
        height:60px;
        margin-left:160px;
        background: #385185;
        margin-top:20px;
        cursor: pointer;
        color:#fff;
        .lists_left{
          float: left;
          .face-icon{
            font-size:40px;
            padding-left: 30px;
            padding-top:10px;
          }
          
        }
        .lists_right{
          float: right;
          padding-top:20px;
          padding-right: 50px;

          a{
            color:#fff;
            text-decoration: none;
            padding-right:20px;
          }
        }
      }
      .lists_under{
        background: #fff;
        border: #979797 solid 1px;
        margin-top:20px;
        width:300px;
        height:60px;
        margin-left:160px;
        text-align: center;
        display: flex;
        cursor: pointer;
        .lists_image{

         img{
           width:40px;
           height:40px;
           margin-left:30px;
           
  
          } 
        }
        .lists_number{
          a{
            text-decoration: none;
            color: #000;  
            line-height: 60px;
            margin-left:40px;

            
          }
        }
      }
    }
  }
}